<menu id="main_menu" x="504" y="24" width="166" height="145" visible="false" alpha="95" bkclr="#ffffff" margin="0,0,0,0,-1">
	<border width="1" color="#aca899" />
	
	<items height="23">
		<item id="menu_file" text="文件">
			<item text="新建标签(&T)        Ctrl+T" icon="icons.folder" action="new_tab_view(get_curr_xplorer())" />
			<item text="新建文件夹(&N)   Ctrl+N" icon="icons.newfolder" action="new_folder()" />
			<separator />
			<item text="打开会话(&O)       Ctrl+O" />
			<item text="保存会话(&S)       Ctrl+S" />
			<item text="会话另存为" />
			<separator />
			<item text="退出(&E)" action="explorer.close()" />
		</item>
		<item id="menu_edit" text="编辑">
			<item text="编辑(&E)                  F4" action="edit_file()" />
			<item text="刷新(&R)                  F5" action="" />
			<item text="复制(&C)                  F6" icon="icons.copyfile" action="copy_file()" />
			<item text="移动(&M)                  F7" icon="icons.movefile" action="move_file()" />
			<separator />
		</item>
		<item id="menu_bookmark" text="书签">
			<item text="添加书签" />
			<item text="整理书签" />
			<separator />
		</item>
		<item id="menu_plugin" text="插件">
			<item text="插件管理" />
			<separator />
		</item>
		<item id="menu_tools" text="工具">
			<item text="选项" />
			<separator />
			<item text="书签管理" />
			<item text="插件管理" />
			<item text="快捷键管理" />
			<item text="垃圾文件清理" />
			<item text="文件(夹)重命名" />
		</item>
		<item id="menu_windows" text="窗口">
			<item text="关闭" />
			<item text="全部关闭" />
			<separator />
		</item>
		<item id="menu_help" text="帮助">
			<item text="帮助(&H)" />
			<item text="检查更新(&C)" />
			<item text="关于Explorer(&A)" />
		</item>
	</items>
	
	<layer x="0" y="0" width="162" height="23" adapt="false" action="item.action">
		<events mouse_in="item.mouse_in" mouse_out="item.mouse_out" />
		<states normal="menu.png" hover="null" down="null" width="23" height="23" ix="3" iy="3" >
			<normal icon="item.icon" border="0" bkclr="#ffffff" />
			<hover border="1" color="#316AC5" bkclr="#C1D2EE" />
			<down border="1" color="#316AC5" bkclr="#C1D2EE" />
		</states>

		<label bkimg="item.img" icon="item.icon" width="162" height="23">
			<attribs text="item.text" offset="30" align="singleline,vcenter" />
			<icon x="3" y="3" size="16" />
			<image x="item.x" y="item.y" width="19" height="19" dx="2" dy="2" />
		</label>
		<img src="item.src" position="relative" x="110" y="8" width="7" height="7" />
	</layer>
</menu>