<menu id="main_menu" x="504" y="24" width="180" height="145" visible="false" yadapt="true" alpha="95" bkclr="#ffffff" margin="1,0,0,0,-1">
	<border width="1" color="#aca899" />
	<bkimg src="menu.png" width="23" height="23" />

	<items height="adapt">
		<item id="menu_file" text="lang.menu_file">
			<item text="lang.menu_new_tab" icon="icons.folder" action="new_tab_view(get_curr_xplorer())" />
			<item text="lang.menu_new_folder" icon="icons.newfolder" action="new_folder()" />
			<item separator="1" />
			<item text="lang.menu_save_session" action="on_close()" />
			<item separator="1" />
			<item text="lang.menu_exit" action="explorer.close()" />
		</item>
		<item id="menu_edit" text="lang.edit">
			<item text="lang.menu_edit_sub" action="edit_file()" />
			<item text="lang.menu_refresh" action="" />
			<item text="lang.menu_copy" icon="icons.copyfile" action="copy_file()" />
			<item text="lang.menu_move" icon="icons.movefile" action="move_file()" />
		</item>
		<!--item id="menu_bookmark" text="书签">
			<item text="添加到书签" icon="icons.fav" action="add_favorite_folder(addr.path)" />
			<item text="整理书签" />
			<item separator="1" />
		</item-->
		<!--item id="menu_plugin" text="插件">
			<item text="插件管理" />
			<item separator="1" />
		</item-->
		<item id="menu_view" text="lang.menu_view">
			<item text="lang.treeview" icon="icons.foldertree" action="show_treeview(!treeview.visible())" />
			<item text="lang.dual" icon="icons.dual" action="show_dual_pane(!xplorer2.visible())" />
			<item text="lang.detail_bar" icon="" action="show_statusbar(!setting.statusbar.show)" />
		</item>
		<item id="menu_tools" text="lang.menu_tools">
			<item text="lang.menu_options" action="options.show();" />
			<item id="menu_language" text="lang.menu_language" sub="triangle.png">
				<item text="中文(简体)" action="change_language('chinese')" />
				<item text="English" action="change_language('lang');" />
			</item>
			<item separator="1" />
			<item text="lang.accel_setting" action="options.show();opts_btn.accel.click()" />
			<item text="lang.gesture_setting" action="options.show();opts_btn.gesture.click()" />
			<item text="lang.edit_view_setting" action="options.show();opts_btn.edit.click()" />
		</item>
		<item id="menu_help" text="帮助">
			<item text="lang.menu_help" />
			<item text="lang.menu_check_update" action="check_for_update()" />
			<item text="lang.menu_register" action="about.show()" />
			<item text="lang.menu_about" action="about.show()" />
		</item>
	</items>
	
	<if condition="item.separator">
		<layer x="0" y="0" width="176" height="3" margin="0,3">
			<img width="23" height="3" adapt="true">
				<bkimg src="menu.png" width="23" height="3" />
			</img>
			<label width="149" height="3">
				<border width="1" color="#BEC3CB" center="1" />
			</label>
		</layer>
	<else />
		<layer x="0" y="0" width="176" height="23" adapt="false" action="item.action">
			<events mouse_in="item.mouse_in" mouse_out="item.mouse_out" />
			<states normal="menu.png" hover="null" down="null" width="23" height="23" ix="3" iy="3" >
				<normal icon="item.icon" border="0" bkclr="#ffffff" />
				<hover border="1" color="#316AC5" bkclr="#C1D2EE" />
				<down border="1" color="#316AC5" bkclr="#C1D2EE" />
			</states>

			<label bkimg="item.img" icon="item.icon" width="176" height="23">
				<attribs text="item.text" offset="30" align="singleline,vcenter" />
				<icon x="3" y="3" size="16" />
				<image x="item.x" y="item.y" width="19" height="19" dx="2" dy="2" />
			</label>
			<img src="item.sub" position="relative" x="-8" y="7" width="3" height="9" />
		</layer>
	</if>
</menu>