<menu id="main_menu" x="504" y="24" width="126" height="145" visible="false" alpha="80" bkclr="#ffffff" margin="1,0,0,0,-1">
	<border width="1" color="#aca899" />
	
	<items height="23">
		<item id="menu_file" text="文件">
			<item text="新建视图" />
			<item text="新建子视图" />
			<separator />
			<item text="打开会话" />
			<item text="保存会话" />
			<item text="会话另存为" />
			<separator />
			<item text="退出" />
		</item>
		<item id="menu_bookmark" text="书签">
			<item text="添加书签" />
			<item text="整理书签" />
			<separator />
		</item>
		<item id="menu_plugin" text="插件">
			<item text="插件管理" />
			<separator />
		</item>
		<item id="menu_tools" text="工具">
			<item text="选项" />
			<separator />
			<item text="书签管理" />
			<item text="插件管理" />
			<item text="快捷键管理" />
			<item text="垃圾文件清理" />
			<item text="文件(夹)重命名" />
		</item>
		<item id="menu_windows" text="窗口">
			<item text="关闭" />
			<item text="全部关闭" />
			<separator />
		</item>
		<item id="menu_help" text="帮助">
			<item text="帮助" />
			<item text="检查更新" />
			<item text="关于Explorer" />
		</item>
	</items>
	
	<layer x="0" y="0" width="122" height="23" action="item.action">
		<events mouse_in="item.mouse_in" mouse_out="item.mouse_out" />
		<states>
			<normal border="0" bkclr="#ffffff" />
			<hover border="0" bkclr="#d2d2d2" />
			<down border="0" bkclr="#d2d2d2" />
		</states>

		<label bkimg="item.img" x="0" y="0" width="122" height="23">
			<attribs text="item.text" offset="23" align="singleline,vcenter" />
			<image x="item.x" y="item.y" width="19" height="19" dx="2" dy="2" />
		</label>
		<img src="item.src" position="relative" x="110" y="8" width="7" height="7" />
	</layer>
</menu>